.HomePage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .container {
        display: flex;
        width: 80%;
    }

    .welcome_container {
        justify-content: space-around;
        align-items: center;

        .create_invitation_btn {
            height: 60px;
            width: 90%;
            font-size: 1em;
            background-color: var(--btn-bg-clr);
        }

        .deatils_container {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 50%;

            h1 {
                display: block;
                color: var(--main-clr);
                font-size: 3em;
            }

            p {
                font-size: 1.7em;
            }
        }

        .image_container {
            display: flex;
            justify-content: end;
            align-items: center;
            width: 40%;
            mix-blend-mode: multiply;

            img {
                width: 100%;
            }
        }

        .customers_recommend {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    .features_container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--main-clr);
        border-radius: 93% 7% 97% 3% / 8% 86% 14% 92%;
        padding: 40px;
        gap: 20px;


        h1 {
            color: var(--sec-clr);
            z-index: 1;
        }

        .all_features {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 15px;

            .feature_box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 150px;
                width: 190px;
                border-radius: var(--big-radius);
                background: #016eda;
                box-shadow: var(--big-glow), var(--mid-glow);
                // box-shadow: -20px 20px 60px #015eb9,
                //     20px -20px 60px #017ffb;

                h3 {
                    color: var(--sec-clr);

                }

                img {
                    width: 100px;
                }
            }
        }
    }

    .examples_container {
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .imgs_container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            img {
                width: 30%;
            }
        }
    }

    .recommend_container {
        flex-direction: column;
        width: 100%;
        // padding: 20px;
        background-color: var(--main-clr);


        h1 {
            color: var(--sec-text-clr);
            margin-bottom: 20px;
        }

        .all_reviews {
            // height: 350px;
            display: flex;
            // align-items: start;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
            margin-bottom: 100px;

            .review_img {
                height: 120px;
                width: 120px;
                border: 10px solid var(--sec-clr);
                border-radius: 50%;
                box-shadow: var(--mid-shadow);
            }

            .review_box {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;
                align-items: center;
                color: var(--sec-text-clr);
                text-align: center;
                padding: 20px;

                h3 {
                    color: var(--sec-text-clr);
                }

                p {
                    width: 150px;
                    color: var(--sec-text-clr);
                }
            }
        }

    }
}

@media (max-width: 768px) {
    .welcome_container {
        flex-direction: column;
        // width: 100%;

        .container {
            width: 100%;

        }

        // .deatils_container {
        //     width: 100%;
        // }
        .deatils_container,
        .image_container {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .features_container .all_features {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .examples_container .imgs_container {
        flex-direction: column;

        img {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .recommend_container .all_reviews {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}