.HomePage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 400px;

    h1 {
        color: var(--main-clr);
        margin-top: 10px;
    }

    .create_invitation_btn {
        height: 60px;
        width: 400px;
        font-size: larger;
        background-color: var(--btn-bg-clr);
    }

    .container {
        width: 70%;
        height: 200px;
        display: flex;
        flex-direction: row;
        // border: 1px solid var(--sec-clr);
        // border-radius: var(--mid-radius);
        // box-shadow: var(--mid-shadow);
        margin-top: 80px;

    }

    .welcome_container {
        justify-content: space-around;
        align-items: center;
        height: 400px;

        .deatils_container {
            width: 40%;

            p {
                font-size: 40px;
                margin: 10px 0;
            }
            h1{
                font-size: 60px;
            }
        }

        img {
            height: 380px;
        }

    }

    .features_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 290px;
        width: 95%;
        background-color: var(--main-clr);
        border-radius: 93% 7% 97% 3% / 8% 86% 14% 92%   ;
        border: none;
        // border-radius: 100% 0% 98% 2% / 5% 80% 20% 95%        ;


        h1 {
            color: var(--sec-clr);
            z-index: 1;
        }

        h3 {
            color: var(--sec-clr);

        }

        .all_features {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 20px;

            .feature_box {
                height: 150px;
                width: 190px;
                // border: 1px solid var(--sec-clr);
                // border-radius: var(--mid-radius);
                // box-shadow: var(--sml-shadow);

                border-radius: 50px;
                background: #016eda;
                box-shadow: -20px 20px 60px #015eb9,
                    20px -20px 60px #017ffb;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    height: 100px;
                }
            }
        }
    }

    .examples_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        height: 800px;
        .imgs_container{
            display: flex;
            img{
                height: 550px;
                width: 630px;
            }
        }
    }

    .recommend_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 330px;
        width: 100%;
        background-color: var(--main-clr);

        h1 {
            color: var(--sec-text-clr);

        }

        .all_reviews {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-top: 20px;

            .review_img {
                height: 120px;
                width: 120px;
                border: 10px solid var(--sec-clr);
                border-radius: 50%;
                box-shadow: var(--sml-shadow);
            }

            .review_box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 220px;
                color: var(--sec-text-clr);


                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }
        }

    }
}