

.PageNotFound {
    margin: 150px auto;
    max-width: 1200px;
    padding: 0 15px;

    .pageNotFound_Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .notFoundNumber {
        color: var(--main-clr);
        font-size: 140px;
    }
    
    .notFountText {
        color: var(--main-text-clr);
        font-size: 60px;
    }

    .btn {
        width: 100%;
        max-width: 200px;
        margin: 50px 0;
        border-radius: 20px;
        border: none;
        padding: 15px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s ease;
        
        &:hover {
            background-color: var(--main-clr);
            color: #fff;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .PageNotFound .notFoundNumber {
        font-size: 100px;
    }

    .PageNotFound .notFountText {
        font-size: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .PageNotFound .notFoundNumber {
        font-size: 80px;
    }

    .PageNotFound .notFountText {
        font-size: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .PageNotFound .notFoundNumber {
        font-size: 60px;
    }

    .PageNotFound .notFountText {
        font-size: 30px;
    }
}
