.EventInfo {


  
    .formbold-confirm-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      background: var(--sec-text-clr);
      border: 0.5px solid var(--sec-clr);
      border-radius: 5px;
      font-size: 16px;
      line-height: 24px;
      color: #536387;
      cursor: pointer;
      padding: 10px 20px;
      transition: all .3s ease-in-out;
    }

    .formbold-confirm-btn.active {
      background: var( --main-clr);
      color: var(--sec-text-clr);
    }
  
    .formbold-form-step-1,
    .formbold-form-step-2,
    .formbold-form-step-3 {
      display: none;
    }
    .formbold-form-step-1.active,
    .formbold-form-step-2.active,
    .formbold-form-step-3.active {
      display: block;
    }
  
    .formbold-form-btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 25px;
      margin-top: 25px;
    }
    .formbold-back-btn {
      cursor: pointer;
      background: var(--sec-text-clr);
      border: none;
      color: #07074D;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      display: none;
    }
    .formbold-back-btn.active {
      display: block;
    }

    .formbold-btn:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

    .step_back_btn {
      background-color: white;
      border: 1px solid var(--main-clr);
      color: var(--main-clr);

    }
}
