.Header {
    width: 100%;
    background-color: var(--main-clr);

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        padding: 10px;

        .auth-section {
            display: flex;
            align-items: center;
            gap: 10px;

            .profile-img {
                width: 40px;
                height: 40px;
                padding: 0;
                border-radius: 60px;
                background-color: white;
            }

            .profile-name {
                font-weight: 500;
                color: var(--sec-text-clr);
            }
        }

        .nav-section {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .nav-link {
                color: var(--text-clr);
                background-color: var(--bg-clr);

                &.active {
                    top: -1px;
                    background-color: var(--sec-clr);

                    &:active {
                        top: 0px;
                    }
                }
            }
        }

        .logo-section {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;

            .logo {
                width: 200px;
                // height: 40px;
                // background-color: white;
                // border-radius: 60px;
            }

            // .logo-text {
            //     font-family: 'Solitreo', cursive;
            //     font-size: 2em;
            //     color: var(--sec-text-clr);
            // }
        }
    }
}