.Invite {

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    // aspect-ratio: 2 / 3;
    background-color: #ffe4c4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 2%;
    border-radius: var(--mid-radius);
    box-shadow: var(--big-shadow);
    max-height: 760px;
    // height: auto;
    min-height: 460px;
    overflow-y: auto;

    .image img {
        object-fit: cover;
        width: 100%;
        height: 250px;
    }
    header {
        h1 {
            font-size: min(max(8px, 2vw), 27px);
            text-align: center;
            margin-top: 20px;
        }
    }

    .free-text-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;


        p {
            font-size: min(max(4px, 1vw), 14px);
            text-align: center;
        }
    }

    .names-section {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        align-items: center;
        justify-content: space-around;
        justify-items: center;
        padding: 0 7%;
        font-size: min(max(4px, 1vw), 14px);

        .name {
            font-weight: bold;
            text-align: center;
        }

        .icon {
            font-size: 25px;
        }
    }

    .details-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: min(max(3px, 0.7vw), 10px);

        .time {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30%;
            text-align: center;
        }

        .location {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30%;
            text-align: center;
        }

    }


    footer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .h2_title {
            font-size: 24px;
            font-weight: bold;
            color: black;
            opacity: 40%;
            text-align: center;
        }
        
        .p_desc {
            margin-top: 4px;
            text-align: center;
            font-size: 11px;
            color: black;
            opacity: 50%;
        }


        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // width: 100%;
            
            .first_last_name_container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 25px;
                input {
                    width: 24%;
                    padding: 3px 8px;
                    background-color: transparent;
                    border-bottom: 1px solid gray;
                    text-align: right;
                    font-size: 12px;
                    font-weight: bold;
                 
                }
                input::placeholder {
                    justify-content:flex-start ;
                    text-align: right;
                    opacity: 50%;
                }
                input:focus {
                    outline: none;
                }

            }
            .phone_container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin-top: 10px;
                input {
                    width: 60%;
                    padding: 3px 8px;
                    background-color: transparent;
                    border-bottom: 1px solid gray;
                    text-align: right;
                    font-size: 12px;
                    font-weight: bold;
                }
                input::placeholder {
                    justify-content:flex-start ;
                    text-align: right;
                    opacity: 50%;
                }
                input:focus {
                    outline: none;
                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }
            }

            .guests_count_container {
                display: flex;
                gap: 20px;
                justify-content: center;
                margin-top: 15px;
                margin-bottom: 10px;
                align-items: center;

                .counter_btns {
                    display: flex;
                    gap: 12px;
                    justify-content: center;
                    align-items: center;

                    button {
                        padding: 3px 5px;
                        border: none;
                        height: 25px;
                        width: 20px;
                        background-color: transparent;
                        border-radius: 5px;
                        outline: 1px solid black;
                        font-size: 12px;
                        transition: font-size 0.2s;
                    }
                    
                    button:hover {
                        position: relative;
                        bottom: 2px;
                        // font-size: 18px;
                        box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.278);
                    }
                    button:active {
                        font-size: 18px;
                    }
            }
        }
        }
    }

    .guests_edit_container_p {
        color: black;
        opacity: 80%;
        font-size: 12px;

    }
    
// .form-section {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     padding: 10px;
//     z-index: 0;
// }

.form-section {
    display: flex;
    gap: 10px;
    padding: 10px;
    z-index: 0;
}
.guests-accept-radio {
    display: flex;
    gap: 15px;
}
.radio-input-wraper-guest {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 5px;
 


    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked~.radio-label {
        box-sizing: border-box;
        // border: solid 2px var(--main-clr);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        border-radius: 5px;
        
    }
    

    input[type="radio"]:checked + .radio-label[for="accept"] {
        background-color: rgb(56, 216, 56);
    }
    
    input[type="radio"]:checked + .radio-label[for="unaccept"] {
        background-color: red;
    }
    label {
        color: white;
        font-size: 13px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding-right: 7px;

    }


    svg {
        fill: white;
        font-size: 15px;
        width: 20px;

    }
}

.radio-input-wraper {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked~.radio-label {
        box-sizing: border-box;
        border: solid 2px var(--main-clr);
    }
}

    
}

