:root {

  // font
  font-family: 'Rubik', sans-serif;
  --invite-font1: 'Amatic SC', cursive;
  --invite-font2: 'Solitreo', cursive;
  --invite-font3: 'Fredoka', sans-serif;
  --invite-font4: 'Noto Rashi Hebrew', serif;

  // colors
  --main-clr: #007EFF;
  --sec-clr: #dce9f7;
  --main-text-clr: #191919;
  --sec-text-clr: white;
  --bg-clr: #f6eeee;
  --sec-bg-clt: #1C1B2D;
  --btn-bg-clr: #EEA700;

  // shadows
  --big-shadow: 0 0 8px #00000059;
  --mid-shadow: 0 0 5px #00000059;
  --sml-shadow: 0 0 3px #00000059;

  // glow
  --big-glow: 0 0 35px #54a1ee92;
  --mid-glow: 0 0 23px #2072c492;
  --sml-glow: 0 0 13px #3c89d692;

  // radius
  --big-radius: 20px;
  --mid-radius: 10px;
  --sml-radius: 5px;

}

* {
  padding: 0;
  margin: 0;
  color: var(--main-text-clr);
}

button,
a,
label {
  cursor: pointer;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  position: relative;
  top: 0;
  border: none;
  font-weight: bold;
  border-radius: var(--sml-radius);
  padding: 5px 10px;
  box-shadow: var(--mid-shadow);
  color: var(--sec-text-clr);
  background-color: var(--main-clr);

  &:hover {
    box-shadow: var(--sml-shadow);
  }

  &:active {
    top: 1px;
  }
}