:root {

  // font
  font-family: 'Rubik', sans-serif;

  // colors
  --main-clr: #007EFF;
  --sec-clr: #dce9f7;
  --main-text-clr: #191919;
  --sec-text-clr: white;
  --bg-clr: #f6eeee;
  --btn-bg-clr: #EEA700;

  // shadows
  --big-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
  --mid-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  --sml-shadow: 0 0 3px rgba(0, 0, 0, 0.35);

  // radius
  --big-radius: 10px;
  --mid-radius: 6px;
  --sml-radius: 3px;
}

* {
  padding: 0;
  margin: 0;
}

button,
a,
label {
  cursor: pointer;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  position: relative;
  top: 0;
  border: none;
  font-weight: bold;
  border-radius: var(--sml-radius);
  padding: 5px 10px;
  box-shadow: var(--mid-shadow);
  color: var(--sec-text-clr);
  background-color: var(--main-clr);

  &:hover {
    box-shadow: var(--sml-shadow);
  }

  &:active {
    top: 1px;
  }
}